<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../static/css/styles.css" type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div style="text-align: center;">

    <div class="header">
        <h2>All CardAccess</h2>

        <div class="row">
            <div class="home_page_id_card_employee">
                <h1>  <input type="button" value="Id-Card-Employee" style="height: 50px; width:  200px;"
                             onclick="window.location.href = '/id-card-employee'"/> </h1>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <th>LevelAccess</th>
            <th>EmployeeId</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>


        <tr th:each="card_access:${allCardAccess}" >
            <td th:text="${card_access.levelAccess}"></td>
            <td th:text="${card_access.employee?.id}"></td>

            <td><a th:href="@{/id-card-employee/card-access/updateCardAccess/{id}(id=${card_access.id})}">Update</a> </td>

            <td><a th:href="@{/id-card-employee/card-access/deleteCardAccess/{id}(id=${card_access.id})}">Delete</a> </td>
        </tr>

    </table>

    <br>

    <input type="button" value="Add CardAccess" style="height: 30px; width: 112px;"
           onclick="window.location.href = '/id-card-employee/card-access/addNewCardAccess'"/>
    <br>

    <h2>Search CardAccess</h2>
    <form method="get" action="card-access/levelAccess">
        <label>
            <input type="text" name="levelAccess">
        </label>
        <input type="submit" value="search">
    </form>
    <br>

    <h2> Go to <input type="button" value="Employees" style="height: 30px; width: 100px;"
                      onclick="window.location.href = '/id-card-employee/employees'"/></h2>
</div>

</body>
</html>