p{
    color: red;
}
th{
   color: blue;
}
h2{
    color: darkblue;
}
body{
    background-color: aquamarine;
}
td{
    color: black;
}
table{
    margin: auto;
}
input[type=button], input[type=submit], input[type=reset]{
    cursor: pointer;
}