<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <link href="../static/css/styles.css" type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<div style="text-align: center;">
<h2>Update Employee</h2>
<br>

  <form th:action="@{/id-card-employee/employees/update-employee}" th:object="${employee}" method="post">

    <label for="id">EmployeeID:</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br><br>
    <label>Surname</label>
    <input type="text" class="form-control" th:field="*{surname}">
    <br><br>
    <label>Department</label>
    <select class="form-control" th:field="*{department}">
      <option value="IT">IT</option>
      <option value="HR">HR</option>
      <option value="Financial">Financial</option>
      <option value="Marketing">Marketing</option>
      <option value="Logistics">Logistics</option>
      <option value="Management">Management</option>
      <option value="Security">Security</option>
    </select>
    <br><br>
    <label>DateOfEmployment</label>
    <input type="text" class="form-control" placeholder="dd.MM.yyyy" id="dateOfEmployment" th:field="*{dateOfEmployment}">
    <br><br>
    <label for="cardId">CardAccessID:</label>
    <input readonly type="number" th:field="*{card.id}" id="cardId" placeholder="cardId">
    <br><br>
    <label>LevelAccess</label>
    <select class="form-control" th:field="*{card.levelAccess}">
      <option value="ONE">ONE</option>
      <option value="TWO">TWO</option>
      <option value="THREE">THREE</option>
    </select>

    <input type="submit" value="OK">
  </form>

  <br>
  <input type="button" value="Return"
         onclick="window.location.href = '/id-card-employee/employees'"/>

</div>
</body>
</html>